body {
    font-family: Roboto, sans-serif;
    background-color: #ffa600;
    color: #ffffff;
    text-transform: uppercase;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-console {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.game-button {
    padding: 10px 25px;
    margin: 0px 15px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: rgba(0,0,0,0);
}

.game-button:hover {
    padding: 10px 25px;
    margin: 0px 15px;
    border-radius: 25px;
    border: 1px solid #ffa600;
    color: #ffa600;
    background-color: #ffffff;
    transition: ease-in;
    transition-duration: 100ms;
}

.hidden {
    display: none;
}

